#!/bin/sh - Just for comment colors in vim
*/
.*/

!/.config/
!/.config/**

!/.gnupg/

!/.vim/
!/.vim/**
/.vim/.netrwhist
/.viminfo

!/.templates/
!/.templates/**

!/scripts/
!/scripts/**

*[Mm][Ee][Rr][Cc][Oo][Rr]*

*.log
*.swp
.DS_Store

/.bashrc
/.bashrc.old*
/.bash_logout
/.bash_profile
/.zprofile
/.bash_profile.old*
/.gituser
/.gitignore-users
/.profile
/.profile.old*
/.profile_aliases
/.run-as-cron-env

/launch-tmux.sh
.tmuxrestore.tar.gz

/.arcrc
/.babel.json
/.bash_history
/.zsh_history
/.CFUserTextEncoding
/.claude.json
/.dmrc
/.dput.cf
/.emulator_console_auth_token
/.ICEauthority
/.lesshst
/.mkshrc
/.npmrc
/.nvidia-settings-rc
/.python_history
/.sudo_as_admin_successful
/.wget-hsts
/.zcompdump*
/.xsession-errors*
/.Xauthority
/.yarnrc
/.zlogin
/.zshrc
