[include]
	path = ./.gituser

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto

[push]
	default = simple

[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lig = "!f(){ git lg --after=1.week $@ | grep -vf ~/.gitligconfig ;};f"
