[include]
  path = ./.gituser

[core]
  editor = vim

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto

[push]
  default = simple

[log]
  follow = true
  abbrevCommit = true
  date = short

[diff]
  renames = copies

[pretty]
  compact = format:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd ~ %cr) %C(bold blue)<%an>%Creset

[format]
  pretty = fuller

[alias]
  s = status

  # Graph-print current branch
  # Reminder: shell commands in .gitconfig run at the repo's top level, so do not use the shell syntax when it can be helped.
  lg        = log --pretty=compact --graph

  # Graph-print all branches, including remotes
  lg-all    = log --pretty=compact --graph --decorate --all

  # Show all merge commits for branches or files
  lg-m      = log --pretty=compact --first-parent -m

  # Graph-print all local branches
  lg-b      = log --pretty=compact --graph --decorate --branches

  # Show log of a deleted file
  lg-d      = log --pretty=compact --graph --

  lg-ignore = "!f(){ \
    if [ -f ~/.gitignore-patterns ]; then \
      git lg -n 100 $@ | grep -vf ~/.gitignore-patterns; \
    else \
      git lg -n 100 $@; \
    fi \
  };f"

  # Fetch and branch a Github PR
  pr = "!f(){ \
    if [ \"$#\" -lt 1 ] || [ \"$#\" -gt 2 ]; then \
      echo \"Expected arguments: <remote> <Github-PR-#>\"; \
      exit 1; \
    fi; \
    REMOTE=\"origin\"; \
    if [ \"$#\" -eq 2 ]; then \
      REMOTE=\"$1\"; \
      PR_NUM=\"$2\"; \
    else \
      PR_NUM=\"$1\"; \
    fi; \
    REMOTE_EXISTS=$(git remote | grep \"^${REMOTE}\\$\" | wc -l); \
    if [ \"$REMOTE_EXISTS\" -eq 0 ]; then \
      echo \"The remote you specified does not exist!\"; \
      exit 2; \
    fi; \
    git fetch \"${REMOTE}\" \"pull/${PR_NUM}/head\"; \
    git checkout -b \"github-pr${PR_NUM}\" FETCH_HEAD; \
  };f"

  deleted-files = "!f(){ git lg --diff-filter=D --summary \"$@\" ;};f"
  tracked-files = ls-tree -r master --name-only
  authors = "!f(){ git shortlog -sne \"$@\" | grep -vf ~/.gitignore-users ;};f"
  committers = "!f(){ git authors -c \"$@\" ;};f"

  pl = pull --rebase
  plom = pull --rebase origin master:master # Pull latest master and then rebase current branch onto master
  bl = branch -al # List all branches (remotes included)
  ch = checkout
  sh = show -m --first-parent

  # Shorthand for `rebase --onto targetbranch somebranch~ somebranch`, to rebase a branch with a single commit onto another branch
  ro = "!f(){ git rebase --onto $1 $2~ $2 ;};f"

  sl = stash list
  ss  = "!sh -c 'git stash show -p stash@{$1}' -" # Show the diff for the given stash number
