#!/bin/sh - Just for comment colors in vim
*/
.*/

!/.vim/
!/.vim/**
/.vim/.netrwhist
/.viminfo

!/.templates/
!/.templates/**

!/.scripts/
!/.scripts/**

*.log

/.bashrc
/.bashrc.old
/.bash_profile
/.bash_profile.old
/.profile_aliases
/.gituser
/.gitignore-patterns
/.gitignore-users

/.arcrc
/.babel.json
/.bash_history
/.sudo_as_admin_successful
/.lesshst
