#!/bin/sh - Just for comment colors in vim
*/
.*/

!/.vim/
!/.vim/**

!/.templates/
!/.templates/**

!/.scripts/
!/.scripts/**

*.log

/.profile_aliases
/.gituser
/.gitignore-patterns
/.gitignore-users
