Amaury Séchet                             <deadalnix@gmail.com>
Calin Culianu                             <calin.culianu@gmail.com>
Dagur V. Johannsson                       <dagurval@pvv.ntnu.no>
Marco Costa                               <marco.antonio.costa@gmail.com>
Wladimir v.d.L                            <laanwj@protonmail.com>
Wladimir v.d.L    <laanwj@protonmail.com> <laanwj@gmail.com>
